*{
  box-sizing: border-box;
}
body{
  background-color: #f5f6f6;
}
.container{
 
  padding :4px;
  max-width: fit-content;
  margin: 20px auto;

  
}
.containering{
  background-color: #23bf69;
}

.containering h1,.containering button {
  display: inline-block;

}
.containering button{
  margin-left: 470px;
  border: 4px solid rgb(27, 94, 109);
  background-color:rgb(27, 94, 109) ;
  

}
.bttn{
border: none;
padding: 17px 29px;
font-size: 20px;
border-radius: 5px;
background: #23bf69;
color: white;
cursor: pointer;

}
.bttn-add{
  background-color:194064 ;
  color: white;
  cursor: pointer;

}
.addcontainer{
position: absolute;
background-color: rgba(0,0,0,0.1);
left: 0;
right: 0;
bottom: 0;
top:0;
display: flex;
justify-content: center;
align-items: center;
}
.addcontainer form{
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding : 50px 50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.addcontainer form label{
  font-size: 18px;

}

.addcontainer form input{
  font-size: 18px;
  padding :5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;

}
.addcontainer form button{
background-color: royalblue;
color: white;
font-weight: 500;
margin-top: 20px;
font-size: 18px;
border-radius: 5px;
padding: 5px;
}
.addcontainer form  .closebtn{
margin-left: auto;
font-size: 18px;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
 border-radius: 20px ;
 border: 1px solid grey;
 cursor: pointer;
}
.addcontainer form  .closebtn  :hover{
  border-radius: 20px ;
  background-color: rgb(161, 159, 159) ;
}
.tableContainer{
  margin-top: 0px;
  text-align: center;
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.tableContainer table thead tr{
  background-color: #d8d7d7;
  
}
.tableContainer table thead tr th,
.tableContainer table tbody tr td{
min-width: 306px;
padding: 10px;
}
.tableContainer table tbody tr td{
  border-bottom: 1px solid #c9c5c7;
}
.bttn-edit, 
.bttn-delete{
  font-size: 16px;
  padding: 5px 10px;
  margin:0px 5px;

}
/* .bttn-edit{
background-color: yellow;
color: black;
}
.bttn-delete{
  background-color: #fa1717;
  color: white;
} */

.bttn-edit{
 background-color: rgb(77, 104, 243);
  color: #e8e8d8;
  }
  .bttn-delete{
background-color: rgb(217, 42, 42);
    color: #ecdede;
  }
  
.manage_ingredinernt{
  font-family: "Times New Roman", Times, serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
