.addcontainer{
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .addcontainer form{
      width: 450px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding : 50px 50px;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .addcontainer form label{
      font-size: 18px;
    
    }
    
    .addcontainer form input{
      font-size: 18px;
      padding :5px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
    
    }
    .addcontainer form button{
    background-color: royalblue;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    }
    .addcontainer form  .closebtn{
    margin-left: auto;
    font-size: 18px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 20px ;
     border: 1px solid grey;
     cursor: pointer;
    }
    .addcontainer form  .closebtn  :hover{
      border-radius: 20px ;
      background-color: rgb(161, 159, 159) ;
    }